body {
    font-family: 'Press Start 2P', cursive;
    background-color: #202020; /* Fond sombre */
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20%;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

a {
    color: #ff5500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}