@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
}

header {
    background-color: #1f1f1f; 
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center; 
}


header img {
    width: 100px; 
    height: 50px; 
    margin-right: 20px; 
    align-self: flex-start; 
}

.titre {
    font-family: Teko, Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 36px;
    color: #fff; 
    text-shadow: 0 0 10px #55b9f3, 0 0 20px #55b9f3, 0 0 30px #55b9f3, 0 0 40px #1f08b1, 0 0 70px #1f08b1, 0 0 80px #1f08b1, 0 0 100px #1f08b1; /* Effet néon pour le titre */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
  }
  
  /* Styles pour l'interrupteur */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

h1 {
    margin: 0;
    font-size: 36px;
    color: #fff; /* Texte blanc */
    text-shadow: 0 0 10px #55b9f3, 0 0 20px #55b9f3, 0 0 30px #55b9f3, 0 0 40px #1f08b1, 0 0 70px #1f08b1, 0 0 80px #1f08b1, 0 0 100px #1f08b1; /* Effet néon pour le titre */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

li a {
    color: #55b9f3; /* Texte bleu vif */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #fff; /* Texte blanc au survol */
}

.container {
    background-color: #1f1f1f; /* Fond sombre */
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombre plus prononcée */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1f1f1f; /* Fond sombre */
    color: #fff; /* Texte blanc */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #55b9f3; /* Fond header bleu vif */
    color: white;
}

tr:nth-child(even) {
    background-color: #1a1a1a; /* Fond sombre */
}

tr:hover {
    background-color: #333; /* Fond sombre plus foncé au survol */
}

table button {
    background-color: #55b9f3; /* Fond bouton bleu vif */
    color: white;
    border: none;
    padding: 8px 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table button:hover {
    background-color: #1f08b1; /* Fond bouton sombre au survol */
}

.open-modal {
    text-decoration: none;
    background-color: #55b9f3; /* Fond bouton bleu vif */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-modal:hover {
    background-color: #1f08b1; /* Fond bouton sombre au survol */
}


.recherche {
    margin-bottom: 15px;
}