footer {
    font-family: Teko, Helvetica, Arial, sans-serif;
    background-color: transparent;
    text-align: center;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
    padding: 0;
    bottom: 0;
    height: 6vmin;
    width: 100%;
    box-shadow: 0 -1vmin 2vmin rgba(0, 140, 255, 0.3);
    font-size: 3vmin;
    color: #fff;
    text-shadow: 0 0 2vmin #55b9f3, 0 0 4vmin #55b9f3, 0 0 6vmin #55b9f3, 0 0 8vmin #1f08b1, 0 0 14vmin #1f08b1, 0 0 16vmin #1f08b1, 0 0 20vmin #1f08b1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1000px) {
    .titre {
        font-size: 1.5rem;
    }
    footer {
      font-size: 1.5rem;
    }
  }